@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');
@import "../variabels";
$text-indent:3rem;

.header--bg-image{
  background-image: url("../../assets/c155567b9ef7880cd9b854cd00a20f4f.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 9rem;
  border-radius: 0.5rem;
  margin-top: 2rem;

}

.grid{
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr;
  padding: 0 10%;
}
input{
  //padding: 0;
  border: 0;
  -webkit-appearance: none;
  width: 100%;
  border-radius: 2rem;
  background-image: url("../../assets/briefcase-outline.png");
  background-repeat: no-repeat;
  background-position: 1rem 1rem;
  background-size: 1.5rem;
  text-indent:$text-indent;

}

input::placeholder{
  color: $grey-1;
  text-indent: $text-indent;
}

input:focus{
  outline: none;
}
button{
  padding: 0;
  background-color: $blue-1;
  color: $white-1;
  border: none;
  height: 3rem;
  width: 6rem;
  border-radius: 0.5rem;
}

.btn-wrapper{
  background-color: $white-1;
  padding: 0.25rem;
  display: grid;
  align-items: center;
  border-radius: 2rem;
}

.flex{
  display: flex;
  justify-content: space-between;
  background-color: white;
}
