@import "../../variabels";

label{
  display: block;
  margin: 1rem 0;
}

p{
  margin: 0 0 0 0.5rem;
  display: inline-block;
  color: $blue-2;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
}

input{
  display: inline-block;
  transform: scale(1.4);
}

.location{
  p{
    color: $grey-1;
    font-weight: 700;
    display: block;
    font-family: 'Poppins', sans-serif;

  }

  input{
    width: 100%;
    margin: unset;
    transform: unset;
    border: none;
    height: 3rem;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.05);
    text-indent: 3rem;

    background-image: url("../../../assets/earth (1).png");
    background-repeat: no-repeat;
    background-position: 1rem;
    background-size: 1.3rem;
  }
  input::placeholder{
    font-family: 'Poppins', sans-serif;
    color: $grey-1;
    text-indent: 3rem;
  }
}
