<div>
  <label>
    <input type="checkbox" [(ngModel)]="isFullTime" (ngModelChange)="onFullTime()">
    <p>Full time</p>
  </label>
</div>

<label class="location">
  <p>Location</p>
  <input type="text" placeholder="City, state, zip code or country" [(ngModel)]="location"
         (ngModelChange)="onLocation()">
</label>

<form>
  <div>
    <input
      [(ngModel)]="radioValue"
      [checked]="isLondon"
      (ngModelChange)="onRadio()"
      type="radio" name="Location" value="London" id="London" >
    <label class="label" for="London">London</label>
  </div>
  <div>
    <input
      [(ngModel)]="radioValue"
      [checked]="isBerlin"
      (ngModelChange)="onRadio()"
      type="radio" name="Location" value="Berlin" id="Berlin">
    <label class="label" for="Berlin">Berlin</label>
  </div>
  <div>
    <input
      [(ngModel)]="radioValue"
      [checked]="isNewYork"
      (ngModelChange)="onRadio()"
      type="radio" name="Location" value="New York" id="NewYork">
    <label class="label" for="NewYork">New York</label>
  </div>
  <div>
    <input
      [(ngModel)]="radioValue"
      [checked]="isRemote"
      (ngModelChange)="onRadio()"
      type="radio" name="Location" value="Remote" id="Remote">
    <label class="label" for="Remote">Remote</label>
  </div>
</form>
