<section class="grid">
  <div class="lds-ellipsis loader" *ngIf="dataService.loading.value"><div></div><div></div><div></div><div></div></div>

  <app-job [routerLink]="'details/'+job.id" *ngFor="let job of jobs"
           class="job"
           [job]="job"></app-job>

</section>
<section class="pagination" *ngIf="jobs !== undefined && jobs.length > 0 && jobs !== null">
  <div class="flex-item" (click)="onPreviousPage()"><</div>
  <div *ngFor="let page of pages"
       class="flex-item"
       [ngClass]="(currentPageIndex/5) === page? 'flex-item--selected': 'none'"
       (click)="onGetJobs(page)">{{page}}</div>
  <div class="flex-item" (click)="onNextPage()">></div>
</section>

