<section class="grid">
  <div class="company__logo">
    <div  [style.background-image]="'url(' + job.company_logo + ')'" class="logo"></div>
  </div>
  <div>
    <h5 class="company--name">{{job.company}}</h5>
    <p class="company--position">{{job.title}}</p>
    <div class="company--job-time">{{job.type}}</div>
    <div class="flex">
      <div class="flex-1 flex-item"><i class="material-icons icon">public</i>{{job.location}}</div>
      <div class="flex-1 flex-item"><i class="material-icons icon">access_time</i>{{job.created_at}}</div>
    </div>
  </div>
</section>
