@import "../variabels";

.grid{
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 2rem;
  border-radius: 4px;
}


.pagination {
  display: flex;
  font-family:'Roboto', sans-serif;
}

.flex-item{
  width: 2rem;
  height: 2rem;
  border: 1px solid $grey-1;
  color: $grey-1;
  display: grid;
  justify-content: center;
  align-items: center;
  margin: 0.2rem;
  border-radius: 0.2rem;
}
.flex-item:hover{
  background-color: $blue-1;
  color: $white-1;
}

.dots{
  border: unset;
  font-weight: bolder;
}
