@import "../variabels";

.grid{
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 2rem;
  border-radius: 4px;
}

.job{
  cursor: pointer;
}

.pagination {
  display: flex;
  flex-wrap: wrap;
  font-family:'Roboto', sans-serif;
  justify-content: flex-end;
  margin-top: 1rem;
}
.flex-item{
  width: 2rem;
  height: 2rem;
  border: 1px solid $grey-1;
  color: $grey-1;
  display: grid;
  justify-content: center;
  align-items: center;
  margin: 0.2rem;
  border-radius: 0.2rem;
  cursor: pointer;
}
.flex-item:hover{
  background-color: $blue-1;
  color: $white-1;
}
.flex-item--selected{
  background-color: $blue-1;
  color: $white-1;
}
.none{}
