@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap');
@import "../variabels";


.grid{
  display: grid;
  grid-template-areas:
  "logo"
  "header"
  "search"
  "jobs"
  "footer";
  grid-row-gap: 2%;
  margin: 0 2%;

  @media only screen and (min-width: 768px) {

    grid-template-areas:
    "logo . "
    "header header "
    "search jobs "
    ". jobs"
    "footer footer ";
    grid-row-gap: 5%;
    grid-column-gap: 5%;
    grid-template-columns: 1fr 3fr;
    margin: 0 5%;
  }

}
.logo{
  grid-area: logo;
}
.header{
  grid-area: header;
}

.search{
  grid-area: search;
}

.jobs{
  grid-area: jobs;
}

.footer{
  grid-area: footer;
}
