<app-logo></app-logo>f
<section class="grid">
  <div>
    <div routerLink="/" class="back"><i class="material-icons arrow">arrow_right_alt</i><p>Back to search</p></div>

    <h5>HOW TO APPLY</h5>
    <p [innerHTML]="job?.how_to_apply"></p>
  </div>
  <div>
    <h2>{{job.title}}</h2>
    <div *ngIf="job.type ==='Full Time'" class="company--job-time">Full time</div>
    <div class="flex-1 flex-item"><i class="material-icons icon">access_time</i>{{job?.created_at}}</div>

    <div class="company">
      <div class="company__logo">
        <div  [style.background-image]="'url(' + job?.company_logo + ')'" class="logo"></div>
      </div>
      <div>
        <h6>{{job?.company}}</h6>
        <div class="flex-1 flex-item"><i class="material-icons icon">public</i>{{job?.location}}</div>

      </div>
    </div>
    <p class="company__description" [innerHTML]="job?.description"></p>
  </div>
</section>
<app-footer></app-footer>
